In [42]:
import pandas as pd 
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt 
import datetime
import seaborn as sns

pd.options.mode.chained_assignment = None  # default='warn'

import pandas_datareader.data as web

from pathlib import Path 
from scipy import stats
from scipy.stats import norm
import sqlalchemy

In [43]:
cash= 26802.34

#importing files from broker
broker_file =pd.read_csv(Path('../shf_positions.csv'))
daily_balance = pd.read_csv(Path('../daily_balance.csv'))

#cleaning file --getting rid of commas in str and converting to floats instead of objects and using datetime
daily_balance.replace(',','', regex=True, inplace=True)
broker_file.replace(',','', regex=True, inplace=True)

broker_file['Mkt value']=broker_file['Mkt value'].astype(float)
broker_file= broker_file.replace('BRK.B', 'BRK-B')
daily_balance['date'] = pd.to_datetime(daily_balance['date'])
daily_balance['balance']=daily_balance['balance'].astype(float)

positions = broker_file.iloc[:,[0,1,2,5]]
aum = broker_file['Mkt value'].sum()+cash

daily_balance.info()
display(broker_file.head())
display(daily_balance.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257 entries, 0 to 1256
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1257 non-null   datetime64[ns]
 1   balance  1257 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.8 KB

,Symbol,Description,Qty,Last,Close,Mkt value,Gain ($),Gain (%),Cost/share,P/E
0,CCJ,Cameco Corporation Common Stock,500,25.29,26.64,12645.0,9118.69,258.59%,7.05262,--
1,ARKK,ARK Innovation ETF,70,113.24,113.82,7936.6,5342.32,205.93%,37.06114,--
2,ARKG,ARK Genomic Revolution ETF,85,68.53,69.12,5825.9,3400.63,140.22%,28.53259,--
3,XLK,SPDR Select Sector Fund - Technology,420,171.31,170.07,71950.2,35672.07,98.33%,86.37650,--
4,DG,Dollar General Corporation Common Stock,160,224.55,222.34,35928.0,17194.17,91.78%,117.08644,21.30X

        date    balance
0 2017-02-01  578206.28
1 2017-02-02  578046.82
2 2017-02-03  580962.41
3 2017-02-06  580003.97
4 2017-02-07  579517.66

In [44]:
positons= broker_file.loc(axis=1)['Symbol', 'Description','Qty', 'Mkt value']
positions

   Symbol                                        Description   Qty  Mkt value
0     CCJ                    Cameco Corporation Common Stock   500   12645.00
1    ARKK                                 ARK Innovation ETF    70    7936.60
2    ARKG                         ARK Genomic Revolution ETF    85    5825.90
3     XLK               SPDR Select Sector Fund - Technology   420   71950.20
4      DG            Dollar General Corporation Common Stock   160   35928.00
5     NKE                             Nike Inc. Common Stock    50    8750.00
6      FB         Meta Platforms Inc. - Class A Common Stock    30   10365.00
7    INFO                      IHS Markit Ltd. Common Shares   335   43265.25
8      BA                  Boeing Company (The) Common Stock    60   12852.00
9     SPY                                       SPDR S&P 500    60   28143.00
10    DIS             Walt Disney Company (The) Common Stock   205   31576.15
11     WM                 Waste Management Inc. Common Stock   100   16339.00
12    XLV              SPDR Select Sector Fund - Health Care   900  119673.00
13  BRK-B           Berkshire Hathaway Inc. New Common Stock   225   62997.75
14    XLI               SPDR Select Sector Fund - Industrial   370   39120.10
15   XLRE          Real Estate Select Sector SPDR Fund (The)   475   22899.75
16   NTAP                         NetApp Inc. - Common Stock   170   14620.00
17     EA                Electronic Arts Inc. - Common Stock   300   39735.00
18    XLP         SPDR Select Sector Fund - Consumer Staples  1000   72050.00
19    DGS           WisdomTree Emerging Market SmallCap Fund   415   21741.85
20      C                        Citigroup Inc. Common Stock   450   29880.00
21    XLU                SPDR Select Sector Fund - Utilities   300   20190.00
22     VZ           Verizon Communications Inc. Common Stock   215   10943.50
23      T                                          AT&T Inc.   475   11471.25
24    PAA  Plains All American Pipeline L.P. - Common Uni...   340    3417.00
25    SND                     Smart Sand Inc. - Common Stock  6600   12870.00

In [45]:
#Crating summary of positions in the portfolio 
#eliminated false postive warning on indexing
#Front page 


positions['Percent of AUM']= positions.loc[:, 'Mkt value'] / aum
positons  = positions.sort_values(by='Percent of AUM', ascending=False, inplace = True)
positions.head()

,Symbol,Description,Qty,Mkt value,Percent of AUM
12,XLV,SPDR Select Sector Fund - Health Care,900,119673.00,0.150724
18,XLP,SPDR Select Sector Fund - Consumer Staples,1000,72050.00,0.090744
3,XLK,SPDR Select Sector Fund - Technology,420,71950.20,0.090619
13,BRK-B,Berkshire Hathaway Inc. New Common Stock,225,62997.75,0.079343
7,INFO,IHS Markit Ltd. Common Shares,335,43265.25,0.054491

In [46]:
#calculating position weights in the portfolio

tickers  = broker_file['Symbol'].tolist()
weights = []

symbol_market_value = broker_file.iloc[:, [0, 5]]

for i in symbol_market_value:
    weight = symbol_market_value.iloc[:,1]/ aum 
    weights.append(weight)
    break

ticker_df = pd.DataFrame(broker_file['Symbol'])
weights_df = pd.DataFrame(weights)
weights_df = weights_df.T

ticker_weights= ticker_df.join(weights_df)
ticker_weights.columns=['Ticker', 'Weight in the portfolio']
#ticker_weights = ticker_weights['Weight in the portfolio'].apply(lambda x: x*100)

ticker_weights = ticker_weights.sort_values(by=['Weight in the portfolio'], ascending=False)
ticker_weights

   Ticker  Weight in the portfolio
12    XLV                 0.150724
18    XLP                 0.090744
3     XLK                 0.090619
13  BRK-B                 0.079343
7    INFO                 0.054491
17     EA                 0.050045
14    XLI                 0.049270
4      DG                 0.045250
10    DIS                 0.039769
20      C                 0.037633
9     SPY                 0.035445
15   XLRE                 0.028841
19    DGS                 0.027383
21    XLU                 0.025429
11     WM                 0.020578
16   NTAP                 0.018413
25    SND                 0.016209
8      BA                 0.016187
0     CCJ                 0.015926
23      T                 0.014448
22     VZ                 0.013783
6      FB                 0.013054
5     NKE                 0.011020
1    ARKK                 0.009996
2    ARKG                 0.007338
24    PAA                 0.004304

In [47]:
#Grabbing price data from the web
symbols= tickers
start=datetime.datetime(2017,2,1)
end= datetime.datetime(2021,11,20)
price_data =web.DataReader(symbols,'yahoo', start, end)['Close']
price_data

Symbols,CCJ,ARKK,ARKG,XLK,DG,NKE,FB,INFO,BA,SPY,...,NTAP,EA,XLP,DGS,C,XLU,VZ,T,PAA,SND
Date,,,,,,,,,,,,,,,,,,,,,
2017-02-01,11.270000,22.274000,18.250000,50.459999,73.389999,53.020000,133.229996,39.450001,163.970001,227.619995,...,38.049999,83.000000,52.180000,41.759998,56.049999,48.330002,48.389999,42.060001,31.780001,17.650000
2017-02-02,10.740000,22.410000,18.294001,50.360001,73.500000,52.799999,130.839996,39.439999,162.259995,227.770004,...,38.240002,82.510002,52.660000,41.919998,55.980000,48.840000,48.279999,41.180000,31.980000,17.559999
2017-02-03,10.670000,22.379999,18.150000,50.689999,73.139999,52.360001,130.979996,39.700001,162.399994,229.339996,...,38.279999,81.279999,53.000000,42.320000,57.759998,48.900002,48.580002,41.250000,32.070000,17.510000
2017-02-06,10.450000,22.389999,18.340000,50.720001,72.260002,52.799999,132.059998,39.529999,163.979996,228.929993,...,38.360001,81.519997,52.709999,42.139999,57.639999,48.799999,48.029999,41.060001,32.240002,17.250000
2017-02-07,10.680000,22.280001,18.270000,50.919998,72.800003,52.810001,131.839996,39.509998,166.500000,228.940002,...,38.830002,82.209999,53.139999,42.000000,57.189999,48.919998,48.040001,41.119999,32.290001,17.330000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-15,27.129999,117.529999,71.720001,167.139999,227.000000,168.850006,347.559998,128.520004,233.089996,467.429993,...,88.860001,141.279999,73.190002,53.240002,68.739998,67.529999,52.400002,24.799999,10.590000,2.100000
2021-11-16,26.320000,118.919998,73.160004,168.899994,230.330002,171.830002,342.959991,131.750000,225.800003,469.279999,...,88.739998,139.559998,72.730003,53.009998,67.739998,67.209999,52.060001,24.660000,10.610000,2.100000
2021-11-17,26.180000,116.720001,71.570000,168.389999,222.880005,171.740005,340.769989,130.240005,226.619995,468.140015,...,87.959999,138.139999,72.570000,52.860001,66.849998,67.269997,51.730000,24.660000,10.410000,2.030000
2021-11-18,26.639999,113.820000,69.120003,170.070007,222.339996,171.350006,338.690002,130.029999,227.250000,469.730011,...,87.320000,137.330002,72.309998,52.650002,67.110001,66.919998,51.240002,24.389999,10.410000,2.010000
2021-11-19,25.290001,113.239998,68.529999,171.309998,224.550003,174.880005,345.299988,129.149994,214.130005,468.890015,...,86.000000,132.389999,72.050003,52.389999,66.339996,67.300003,50.860001,24.129999,10.050000,1.950000

In [48]:
price_data.reset_index(inplace=True, drop=False)
price_data = price_data.loc[:, 'Date':]
price_data

Symbols,Date,CCJ,ARKK,ARKG,XLK,DG,NKE,FB,INFO,BA,...,NTAP,EA,XLP,DGS,C,XLU,VZ,T,PAA,SND
0,2017-02-01,11.270000,22.274000,18.250000,50.459999,73.389999,53.020000,133.229996,39.450001,163.970001,...,38.049999,83.000000,52.180000,41.759998,56.049999,48.330002,48.389999,42.060001,31.780001,17.650000
1,2017-02-02,10.740000,22.410000,18.294001,50.360001,73.500000,52.799999,130.839996,39.439999,162.259995,...,38.240002,82.510002,52.660000,41.919998,55.980000,48.840000,48.279999,41.180000,31.980000,17.559999
2,2017-02-03,10.670000,22.379999,18.150000,50.689999,73.139999,52.360001,130.979996,39.700001,162.399994,...,38.279999,81.279999,53.000000,42.320000,57.759998,48.900002,48.580002,41.250000,32.070000,17.510000
3,2017-02-06,10.450000,22.389999,18.340000,50.720001,72.260002,52.799999,132.059998,39.529999,163.979996,...,38.360001,81.519997,52.709999,42.139999,57.639999,48.799999,48.029999,41.060001,32.240002,17.250000
4,2017-02-07,10.680000,22.280001,18.270000,50.919998,72.800003,52.810001,131.839996,39.509998,166.500000,...,38.830002,82.209999,53.139999,42.000000,57.189999,48.919998,48.040001,41.119999,32.290001,17.330000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,2021-11-15,27.129999,117.529999,71.720001,167.139999,227.000000,168.850006,347.559998,128.520004,233.089996,...,88.860001,141.279999,73.190002,53.240002,68.739998,67.529999,52.400002,24.799999,10.590000,2.100000
1207,2021-11-16,26.320000,118.919998,73.160004,168.899994,230.330002,171.830002,342.959991,131.750000,225.800003,...,88.739998,139.559998,72.730003,53.009998,67.739998,67.209999,52.060001,24.660000,10.610000,2.100000
1208,2021-11-17,26.180000,116.720001,71.570000,168.389999,222.880005,171.740005,340.769989,130.240005,226.619995,...,87.959999,138.139999,72.570000,52.860001,66.849998,67.269997,51.730000,24.660000,10.410000,2.030000
1209,2021-11-18,26.639999,113.820000,69.120003,170.070007,222.339996,171.350006,338.690002,130.029999,227.250000,...,87.320000,137.330002,72.309998,52.650002,67.110001,66.919998,51.240002,24.389999,10.410000,2.010000
1210,2021-11-19,25.290001,113.239998,68.529999,171.309998,224.550003,174.880005,345.299988,129.149994,214.130005,...,86.000000,132.389999,72.050003,52.389999,66.339996,67.300003,50.860001,24.129999,10.050000,1.950000

In [50]:
#Create SQL connection, engine, and load in prices data from datareader

database_connection = 'sqlite:///'
engine = sqlalchemy.create_engine(database_connection)

price_data.to_sql(
    'prices',
    engine,
    index=False,
    if_exists= 'replace'
)

engine.table_names()

<ipython-input-50-1d8a983c405b>:13: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['prices']

In [76]:

date =2021-11-19

market_query="""
SELECT Date, XLK, FB
FROM prices

"""
# Call on the database engine to execute the query that generates the list
# of clients whose credit scores are greater than or equal to 750
results = engine.execute(market_query)

# List of the results of the database query
list(results)

[('2017-02-01 00:00:00.000000', 50.459999084472656, 133.22999572753906),
 ('2017-02-02 00:00:00.000000', 50.36000061035156, 130.83999633789062),
 ('2017-02-03 00:00:00.000000', 50.689998626708984, 130.97999572753906),
 ('2017-02-06 00:00:00.000000', 50.720001220703125, 132.05999755859375),
 ('2017-02-07 00:00:00.000000', 50.91999816894531, 131.83999633789062),
 ('2017-02-08 00:00:00.000000', 51.0099983215332, 134.1999969482422),
 ('2017-02-09 00:00:00.000000', 51.16999816894531, 134.13999938964844),
 ('2017-02-10 00:00:00.000000', 51.31999969482422, 134.19000244140625),
 ('2017-02-13 00:00:00.000000', 51.54999923706055, 134.0500030517578),
 ('2017-02-14 00:00:00.000000', 51.720001220703125, 133.85000610351562),
 ('2017-02-15 00:00:00.000000', 51.88999938964844, 133.44000244140625),
 ('2017-02-16 00:00:00.000000', 52.0099983215332, 133.83999633789062),
 ('2017-02-17 00:00:00.000000', 52.189998626708984, 133.52999877929688),
 ('2017-02-21 00:00:00.000000', 52.459999084472656, 133.72000122070312),
 ('2017-02-22 00:00:00.000000', 52.52000045776367, 136.1199951171875),
 ('2017-02-23 00:00:00.000000', 52.5099983215332, 135.36000061035156),
 ('2017-02-24 00:00:00.000000', 52.630001068115234, 135.44000244140625),
 ('2017-02-27 00:00:00.000000', 52.599998474121094, 136.41000366210938),
 ('2017-02-28 00:00:00.000000', 52.349998474121094, 135.5399932861328),
 ('2017-03-01 00:00:00.000000', 53.09000015258789, 137.4199981689453),
 ('2017-03-02 00:00:00.000000', 52.7400016784668, 136.75999450683594),
 ('2017-03-03 00:00:00.000000', 52.86000061035156, 137.1699981689453),
 ('2017-03-06 00:00:00.000000', 52.779998779296875, 137.4199981689453),
 ('2017-03-07 00:00:00.000000', 52.779998779296875, 137.3000030517578),
 ('2017-03-08 00:00:00.000000', 52.84000015258789, 137.72000122070312),
 ('2017-03-09 00:00:00.000000', 52.83000183105469, 138.24000549316406),
 ('2017-03-10 00:00:00.000000', 53.11000061035156, 138.7899932861328),
 ('2017-03-13 00:00:00.000000', 53.15999984741211, 139.60000610351562),
 ('2017-03-14 00:00:00.000000', 53.040000915527344, 139.32000732421875),
 ('2017-03-15 00:00:00.000000', 53.400001525878906, 139.72000122070312),
 ('2017-03-16 00:00:00.000000', 53.43000030517578, 139.99000549316406),
 ('2017-03-17 00:00:00.000000', 53.34000015258789, 139.83999633789062),
 ('2017-03-20 00:00:00.000000', 53.38999938964844, 139.94000244140625),
 ('2017-03-21 00:00:00.000000', 52.61000061035156, 138.50999450683594),
 ('2017-03-22 00:00:00.000000', 52.939998626708984, 139.58999633789062),
 ('2017-03-23 00:00:00.000000', 52.79999923706055, 139.52999877929688),
 ('2017-03-24 00:00:00.000000', 52.84000015258789, 140.33999633789062),
 ('2017-03-27 00:00:00.000000', 52.84000015258789, 140.32000732421875),
 ('2017-03-28 00:00:00.000000', 53.220001220703125, 141.75999450683594),
 ('2017-03-29 00:00:00.000000', 53.310001373291016, 142.64999389648438),
 ('2017-03-30 00:00:00.000000', 53.40999984741211, 142.41000366210938),
 ('2017-03-31 00:00:00.000000', 53.310001373291016, 142.0500030517578),
 ('2017-04-03 00:00:00.000000', 53.2599983215332, 142.27999877929688),
 ('2017-04-04 00:00:00.000000', 53.29999923706055, 141.72999572753906),
 ('2017-04-05 00:00:00.000000', 53.08000183105469, 141.85000610351562),
 ('2017-04-06 00:00:00.000000', 53.09000015258789, 141.1699981689453),
 ('2017-04-07 00:00:00.000000', 53.060001373291016, 140.77999877929688),
 ('2017-04-10 00:00:00.000000', 52.959999084472656, 141.0399932861328),
 ('2017-04-11 00:00:00.000000', 52.7599983215332, 139.9199981689453),
 ('2017-04-12 00:00:00.000000', 52.58000183105469, 139.5800018310547),
 ('2017-04-13 00:00:00.000000', 52.369998931884766, 139.38999938964844),
 ('2017-04-17 00:00:00.000000', 52.849998474121094, 141.4199981689453),
 ('2017-04-18 00:00:00.000000', 52.84000015258789, 140.9600067138672),
 ('2017-04-19 00:00:00.000000', 52.79999923706055, 142.27000427246094),
 ('2017-04-20 00:00:00.000000', 53.279998779296875, 143.8000030517578),
 ('2017-04-21 00:00:00.000000', 53.16999816894531, 143.67999267578125),
 ('2017-04-24 00:00:00.000000', 53.79999923706055, 145.47000122070312),
 ('2017-04-25 00:00:00.000000', 54.08000183105469, 146.49000549316406),
 ('2017-04-26 00:00:00.000000', 54.02000045776367, 146.55999755859375),
 ('2017-04-27 00:00:00.000000', 54.2400016784668, 147.6999969482422),
 ('2017-04-28 00:00:00.000000', 54.380001068115234, 150.25),
 ('2017-05-01 00:00:00.000000', 54.790000915527344, 152.4600067138672),
 ('2017-05-02 00:00:00.000000', 54.90999984741211, 152.77999877929688),
 ('2017-05-03 00:00:00.000000', 54.810001373291016, 151.8000030517578),
 ('2017-05-04 00:00:00.000000', 54.77000045776367, 150.85000610351562),
 ('2017-05-05 00:00:00.000000', 54.970001220703125, 150.24000549316406),
 ('2017-05-08 00:00:00.000000', 55.209999084472656, 151.05999755859375),
 ('2017-05-09 00:00:00.000000', 55.279998779296875, 150.47999572753906),
 ('2017-05-10 00:00:00.000000', 55.4900016784668, 150.2899932861328),
 ('2017-05-11 00:00:00.000000', 55.41999816894531, 150.0399932861328),
 ('2017-05-12 00:00:00.000000', 55.560001373291016, 150.3300018310547),
 ('2017-05-15 00:00:00.000000', 55.869998931884766, 150.19000244140625),
 ('2017-05-16 00:00:00.000000', 56.130001068115234, 149.77999877929688),
 ('2017-05-17 00:00:00.000000', 54.599998474121094, 144.85000610351562),
 ('2017-05-18 00:00:00.000000', 54.91999816894531, 147.66000366210938),
 ('2017-05-19 00:00:00.000000', 55.2400016784668, 148.05999755859375),
 ('2017-05-22 00:00:00.000000', 55.68000030517578, 148.24000549316406),
 ('2017-05-23 00:00:00.000000', 55.779998779296875, 148.07000732421875),
 ('2017-05-24 00:00:00.000000', 56.0099983215332, 150.0399932861328),
 ('2017-05-25 00:00:00.000000', 56.40999984741211, 151.9600067138672),
 ('2017-05-26 00:00:00.000000', 56.380001068115234, 152.1300048828125),
 ('2017-05-30 00:00:00.000000', 56.619998931884766, 152.3800048828125),
 ('2017-05-31 00:00:00.000000', 56.529998779296875, 151.4600067138672),
 ('2017-06-01 00:00:00.000000', 56.66999816894531, 151.52999877929688),
 ('2017-06-02 00:00:00.000000', 57.189998626708984, 153.61000061035156),
 ('2017-06-05 00:00:00.000000', 57.2400016784668, 153.6300048828125),
 ('2017-06-06 00:00:00.000000', 57.130001068115234, 152.80999755859375),
 ('2017-06-07 00:00:00.000000', 57.310001373291016, 153.1199951171875),
 ('2017-06-08 00:00:00.000000', 57.439998626708984, 154.7100067138672),
 ('2017-06-09 00:00:00.000000', 56.02000045776367, 149.60000610351562),
 ('2017-06-12 00:00:00.000000', 55.689998626708984, 148.44000244140625),
 ('2017-06-13 00:00:00.000000', 56.09000015258789, 150.67999267578125),
 ('2017-06-14 00:00:00.000000', 55.81999969482422, 150.25),
 ('2017-06-15 00:00:00.000000', 55.56999969482422, 149.8000030517578),
 ('2017-06-16 00:00:00.000000', 55.25, 150.63999938964844),
 ('2017-06-19 00:00:00.000000', 56.06999969482422, 152.8699951171875),
 ('2017-06-20 00:00:00.000000', 55.619998931884766, 152.25),
 ('2017-06-21 00:00:00.000000', 55.93000030517578, 153.91000366210938),
 ('2017-06-22 00:00:00.000000', 55.95000076293945, 153.39999389648438),
 ('2017-06-23 00:00:00.000000', 56.29999923706055, 155.07000732421875),
 ('2017-06-26 00:00:00.000000', 56.0, 153.58999633789062),
 ('2017-06-27 00:00:00.000000', 55.08000183105469, 150.5800018310547),
 ('2017-06-28 00:00:00.000000', 55.77000045776367, 153.24000549316406),
 ('2017-06-29 00:00:00.000000', 54.77000045776367, 151.0399932861328),
 ('2017-06-30 00:00:00.000000', 54.720001220703125, 150.97999572753906),
 ('2017-07-03 00:00:00.000000', 54.34000015258789, 148.42999267578125),
 ('2017-07-05 00:00:00.000000', 54.880001068115234, 150.33999633789062),
 ('2017-07-06 00:00:00.000000', 54.380001068115234, 148.82000732421875),
 ('2017-07-07 00:00:00.000000', 55.0099983215332, 151.44000244140625),
 ('2017-07-10 00:00:00.000000', 55.40999984741211, 153.5),
 ('2017-07-11 00:00:00.000000', 55.529998779296875, 155.27000427246094),
 ('2017-07-12 00:00:00.000000', 56.25, 158.89999389648438),
 ('2017-07-13 00:00:00.000000', 56.36000061035156, 159.25999450683594),
 ('2017-07-14 00:00:00.000000', 56.86000061035156, 159.97000122070312),
 ('2017-07-17 00:00:00.000000', 56.869998931884766, 159.72999572753906),
 ('2017-07-18 00:00:00.000000', 57.130001068115234, 162.86000061035156),
 ('2017-07-19 00:00:00.000000', 57.41999816894531, 164.13999938964844),
 ('2017-07-20 00:00:00.000000', 57.540000915527344, 164.52999877929688),
 ('2017-07-21 00:00:00.000000', 57.470001220703125, 164.42999267578125),
 ('2017-07-24 00:00:00.000000', 57.61000061035156, 166.0),
 ('2017-07-25 00:00:00.000000', 57.5, 165.27999877929688),
 ('2017-07-26 00:00:00.000000', 57.720001220703125, 165.61000061035156),
 ('2017-07-27 00:00:00.000000', 57.5, 170.44000244140625),
 ('2017-07-28 00:00:00.000000', 57.439998626708984, 172.4499969482422),
 ('2017-07-31 00:00:00.000000', 57.15999984741211, 169.25),
 ('2017-08-01 00:00:00.000000', 57.45000076293945, 169.86000061035156),
 ('2017-08-02 00:00:00.000000', 57.61000061035156, 169.3000030517578),
 ('2017-08-03 00:00:00.000000', 57.47999954223633, 168.58999633789062),
 ('2017-08-04 00:00:00.000000', 57.61000061035156, 169.6199951171875),
 ('2017-08-07 00:00:00.000000', 57.959999084472656, 171.97999572753906),
 ('2017-08-08 00:00:00.000000', 57.880001068115234, 171.22999572753906),
 ('2017-08-09 00:00:00.000000', 57.849998474121094, 171.17999267578125),
 ('2017-08-10 00:00:00.000000', 56.709999084472656, 167.39999389648438),
 ('2017-08-11 00:00:00.000000', 57.099998474121094, 168.0800018310547),
 ('2017-08-14 00:00:00.000000', 58.0099983215332, 170.75),
 ('2017-08-15 00:00:00.000000', 58.099998474121094, 171.0),
 ('2017-08-16 00:00:00.000000', 58.27000045776367, 170.0),
 ('2017-08-17 00:00:00.000000', 57.130001068115234, 166.91000366210938),
 ('2017-08-18 00:00:00.000000', 57.06999969482422, 167.41000366210938),
 ('2017-08-21 00:00:00.000000', 57.04999923706055, 167.77999877929688),
 ('2017-08-22 00:00:00.000000', 57.900001525878906, 169.63999938964844),
 ('2017-08-23 00:00:00.000000', 57.7599983215332, 168.7100067138672),
 ('2017-08-24 00:00:00.000000', 57.709999084472656, 167.74000549316406),
 ('2017-08-25 00:00:00.000000', 57.70000076293945, 166.32000732421875),
 ('2017-08-28 00:00:00.000000', 57.810001373291016, 167.24000549316406),
 ('2017-08-29 00:00:00.000000', 58.060001373291016, 168.0500030517578),
 ('2017-08-30 00:00:00.000000', 58.47999954223633, 169.9199981689453),
 ('2017-08-31 00:00:00.000000', 58.83000183105469, 171.97000122070312),
 ('2017-09-01 00:00:00.000000', 58.779998779296875, 172.02000427246094),
 ('2017-09-05 00:00:00.000000', 58.2599983215332, 170.72000122070312),
 ('2017-09-06 00:00:00.000000', 58.310001373291016, 172.08999633789062),
 ('2017-09-07 00:00:00.000000', 58.5099983215332, 173.2100067138672),
 ('2017-09-08 00:00:00.000000', 58.029998779296875, 170.9499969482422),
 ('2017-09-11 00:00:00.000000', 58.849998474121094, 173.50999450683594),
 ('2017-09-12 00:00:00.000000', 58.9900016784668, 172.9600067138672),
 ('2017-09-13 00:00:00.000000', 58.90999984741211, 173.0500030517578),
 ('2017-09-14 00:00:00.000000', 58.709999084472656, 170.9600067138672),
 ('2017-09-15 00:00:00.000000', 58.7400016784668, 171.63999938964844),
 ('2017-09-18 00:00:00.000000', 58.790000915527344, 170.00999450683594),
 ('2017-09-19 00:00:00.000000', 59.04999923706055, 172.52000427246094),
 ('2017-09-20 00:00:00.000000', 58.810001373291016, 172.1699981689453),
 ('2017-09-21 00:00:00.000000', 58.4900016784668, 171.11000061035156),
 ('2017-09-22 00:00:00.000000', 58.52000045776367, 170.5399932861328),
 ('2017-09-25 00:00:00.000000', 57.83000183105469, 162.8699951171875),
 ('2017-09-26 00:00:00.000000', 58.040000915527344, 164.2100067138672),
 ('2017-09-27 00:00:00.000000', 58.630001068115234, 167.67999267578125),
 ('2017-09-28 00:00:00.000000', 58.70000076293945, 168.72999572753906),
 ('2017-09-29 00:00:00.000000', 59.099998474121094, 170.8699951171875),
 ('2017-10-02 00:00:00.000000', 59.189998626708984, 169.47000122070312),
 ('2017-10-03 00:00:00.000000', 59.33000183105469, 169.9600067138672),
 ('2017-10-04 00:00:00.000000', 59.290000915527344, 168.4199981689453),
 ('2017-10-05 00:00:00.000000', 59.86000061035156, 171.24000549316406),
 ('2017-10-06 00:00:00.000000', 59.95000076293945, 172.22999572753906),
 ('2017-10-09 00:00:00.000000', 60.099998474121094, 172.5),
 ('2017-10-10 00:00:00.000000', 60.15999984741211, 171.58999633789062),
 ('2017-10-11 00:00:00.000000', 60.36000061035156, 172.74000549316406),
 ('2017-10-12 00:00:00.000000', 60.209999084472656, 172.5500030517578),
 ('2017-10-13 00:00:00.000000', 60.5, 173.74000549316406),
 ('2017-10-16 00:00:00.000000', 60.720001220703125, 174.52000427246094),
 ('2017-10-17 00:00:00.000000', 60.720001220703125, 176.11000061035156),
 ('2017-10-18 00:00:00.000000', 60.869998931884766, 176.02999877929688),
 ('2017-10-19 00:00:00.000000', 60.689998626708984, 174.55999755859375),
 ('2017-10-20 00:00:00.000000', 61.099998474121094, 174.97999572753906),
 ('2017-10-23 00:00:00.000000', 60.810001373291016, 171.27000427246094),
 ('2017-10-24 00:00:00.000000', 60.97999954223633, 171.8000030517578),
 ('2017-10-25 00:00:00.000000', 60.650001525878906, 170.60000610351562),
 ('2017-10-26 00:00:00.000000', 60.900001525878906, 170.6300048828125),
 ('2017-10-27 00:00:00.000000', 62.540000915527344, 177.8800048828125),
 ('2017-10-30 00:00:00.000000', 62.68000030517578, 179.8699951171875),
 ('2017-10-31 00:00:00.000000', 62.95000076293945, 180.05999755859375),
 ('2017-11-01 00:00:00.000000', 62.959999084472656, 182.66000366210938),
 ('2017-11-02 00:00:00.000000', 62.9900016784668, 178.9199981689453),
 ('2017-11-03 00:00:00.000000', 63.4900016784668, 178.9199981689453),
 ('2017-11-06 00:00:00.000000', 63.630001068115234, 180.1699981689453),
 ('2017-11-07 00:00:00.000000', 63.65999984741211, 180.25),
 ('2017-11-08 00:00:00.000000', 64.01000213623047, 179.55999755859375),
 ('2017-11-09 00:00:00.000000', 63.5, 179.3000030517578),
 ('2017-11-10 00:00:00.000000', 63.5, 178.4600067138672),
 ('2017-11-13 00:00:00.000000', 63.47999954223633, 178.77000427246094),
 ('2017-11-14 00:00:00.000000', 63.349998474121094, 178.07000732421875),
 ('2017-11-15 00:00:00.000000', 62.880001068115234, 177.9499969482422),
 ('2017-11-16 00:00:00.000000', 63.7599983215332, 179.58999633789062),
 ('2017-11-17 00:00:00.000000', 63.349998474121094, 179.0),
 ('2017-11-20 00:00:00.000000', 63.59000015258789, 178.74000549316406),
 ('2017-11-21 00:00:00.000000', 64.26000213623047, 181.86000061035156),
 ('2017-11-22 00:00:00.000000', 64.13999938964844, 180.8699951171875),
 ('2017-11-24 00:00:00.000000', 64.5, 182.77999877929688),
 ('2017-11-27 00:00:00.000000', 64.5, 183.02999877929688),
 ('2017-11-28 00:00:00.000000', 64.70999908447266, 182.4199981689453),
 ('2017-11-29 00:00:00.000000', 63.279998779296875, 175.1300048828125),
 ('2017-11-30 00:00:00.000000', 63.84000015258789, 177.17999267578125),
 ('2017-12-01 00:00:00.000000', 63.5099983215332, 175.10000610351562),
 ('2017-12-04 00:00:00.000000', 62.4900016784668, 171.47000122070312),
 ('2017-12-05 00:00:00.000000', 62.5099983215332, 172.8300018310547),
 ('2017-12-06 00:00:00.000000', 62.90999984741211, 176.05999755859375),
 ('2017-12-07 00:00:00.000000', 63.29999923706055, 180.13999938964844),
 ('2017-12-08 00:00:00.000000', 63.599998474121094, 179.0),
 ('2017-12-11 00:00:00.000000', 64.1500015258789, 179.0399932861328),
 ('2017-12-12 00:00:00.000000', 64.12999725341797, 176.9600067138672),
 ('2017-12-13 00:00:00.000000', 64.1500015258789, 178.3000030517578),
 ('2017-12-14 00:00:00.000000', 64.06999969482422, 178.38999938964844),
 ('2017-12-15 00:00:00.000000', 64.55999755859375, 180.17999267578125),
 ('2017-12-18 00:00:00.000000', 65.12999725341797, 180.82000732421875),
 ('2017-12-19 00:00:00.000000', 64.7300033569336, 179.50999450683594),
 ('2017-12-20 00:00:00.000000', 64.70999908447266, 177.88999938964844),
 ('2017-12-21 00:00:00.000000', 64.58000183105469, 177.4499969482422),
 ('2017-12-22 00:00:00.000000', 64.54000091552734, 177.1999969482422),
 ('2017-12-26 00:00:00.000000', 64.11000061035156, 175.99000549316406),
 ('2017-12-27 00:00:00.000000', 64.18000030517578, 177.6199951171875),
 ('2017-12-28 00:00:00.000000', 64.29000091552734, 177.9199981689453),
 ('2017-12-29 00:00:00.000000', 63.95000076293945, 176.4600067138672),
 ('2018-01-02 00:00:00.000000', 64.73999786376953, 181.4199981689453),
 ('2018-01-03 00:00:00.000000', 65.27999877929688, 184.6699981689453),
 ('2018-01-04 00:00:00.000000', 65.61000061035156, 184.3300018310547),
 ('2018-01-05 00:00:00.000000', 66.30000305175781, 186.85000610351562),
 ('2018-01-08 00:00:00.000000', 66.55000305175781, 188.27999877929688),
 ('2018-01-09 00:00:00.000000', 66.37999725341797, 187.8699951171875),
 ('2018-01-10 00:00:00.000000', 66.1500015258789, 187.83999633789062),
 ('2018-01-11 00:00:00.000000', 66.41999816894531, 187.77000427246094),
 ('2018-01-12 00:00:00.000000', 66.80999755859375, 179.3699951171875),
 ('2018-01-16 00:00:00.000000', 66.55000305175781, 178.38999938964844),
 ('2018-01-17 00:00:00.000000', 67.55000305175781, 177.60000610351562),
 ('2018-01-18 00:00:00.000000', 67.66999816894531, 179.8000030517578),
 ('2018-01-19 00:00:00.000000', 67.80000305175781, 181.2899932861328),
 ('2018-01-22 00:00:00.000000', 68.45999908447266, 185.3699951171875),
 ('2018-01-23 00:00:00.000000', 68.76000213623047, 189.35000610351562),
 ('2018-01-24 00:00:00.000000', 68.2300033569336, 186.5500030517578),
 ('2018-01-25 00:00:00.000000', 68.11000061035156, 187.47999572753906),
 ('2018-01-26 00:00:00.000000', 69.19000244140625, 190.0),
 ('2018-01-29 00:00:00.000000', 68.55999755859375, 185.97999572753906),
 ('2018-01-30 00:00:00.000000', 67.94000244140625, 187.1199951171875),
 ('2018-01-31 00:00:00.000000', 68.44999694824219, 186.88999938964844),
 ('2018-02-01 00:00:00.000000', 68.51000213623047, 193.08999633789062),
 ('2018-02-02 00:00:00.000000', 66.4800033569336, 190.27999877929688),
 ('2018-02-05 00:00:00.000000', 63.70000076293945, 181.25999450683594),
 ('2018-02-06 00:00:00.000000', 65.52999877929688, 185.30999755859375),
 ('2018-02-07 00:00:00.000000', 64.69000244140625, 180.17999267578125),
 ('2018-02-08 00:00:00.000000', 62.0099983215332, 171.5800018310547),
 ('2018-02-09 00:00:00.000000', 63.529998779296875, 176.11000061035156),
 ('2018-02-12 00:00:00.000000', 64.66999816894531, 176.41000366210938),
 ('2018-02-13 00:00:00.000000', 64.83000183105469, 173.14999389648438),
 ('2018-02-14 00:00:00.000000', 66.0199966430664, 179.52000427246094),
 ('2018-02-15 00:00:00.000000', 67.27999877929688, 179.9600067138672),
 ('2018-02-16 00:00:00.000000', 67.18000030517578, 177.36000061035156),
 ('2018-02-20 00:00:00.000000', 67.23999786376953, 176.00999450683594),
 ('2018-02-21 00:00:00.000000', 66.80999755859375, 177.91000366210938),
 ('2018-02-22 00:00:00.000000', 66.88999938964844, 178.99000549316406),
 ('2018-02-23 00:00:00.000000', 68.29000091552734, 183.2899932861328),
 ('2018-02-26 00:00:00.000000', 69.36000061035156, 184.92999267578125),
 ('2018-02-27 00:00:00.000000', 68.66000366210938, 181.4600067138672),
 ('2018-02-28 00:00:00.000000', 68.16999816894531, 178.32000732421875),
 ('2018-03-01 00:00:00.000000', 67.04000091552734, 175.94000244140625),
 ('2018-03-02 00:00:00.000000', 67.68000030517578, 176.6199951171875),
 ('2018-03-05 00:00:00.000000', 68.37000274658203, 180.39999389648438),
 ('2018-03-06 00:00:00.000000', 68.5199966430664, 179.77999877929688),
 ('2018-03-07 00:00:00.000000', 68.9000015258789, 183.7100067138672),
 ('2018-03-08 00:00:00.000000', 69.19999694824219, 182.33999633789062),
 ('2018-03-09 00:00:00.000000', 70.51000213623047, 185.22999572753906),
 ('2018-03-12 00:00:00.000000', 70.7300033569336, 184.75999450683594),
 ('2018-03-13 00:00:00.000000', 69.91999816894531, 181.8800048828125),
 ('2018-03-14 00:00:00.000000', 69.86000061035156, 184.19000244140625),
 ('2018-03-15 00:00:00.000000', 69.9000015258789, 183.86000061035156),

In [52]:
#Importing Price Table from SQL 

price_df = pd.read_sql_table('prices', con=engine)

price_df=price_df.loc[:, 'Date':]
price_df.set_index('Date', inplace=True)
price_df

,CCJ,ARKK,ARKG,XLK,DG,NKE,FB,INFO,BA,SPY,...,NTAP,EA,XLP,DGS,C,XLU,VZ,T,PAA,SND
Date,,,,,,,,,,,,,,,,,,,,,
2017-02-01,11.270000,22.274000,18.250000,50.459999,73.389999,53.020000,133.229996,39.450001,163.970001,227.619995,...,38.049999,83.000000,52.180000,41.759998,56.049999,48.330002,48.389999,42.060001,31.780001,17.650000
2017-02-02,10.740000,22.410000,18.294001,50.360001,73.500000,52.799999,130.839996,39.439999,162.259995,227.770004,...,38.240002,82.510002,52.660000,41.919998,55.980000,48.840000,48.279999,41.180000,31.980000,17.559999
2017-02-03,10.670000,22.379999,18.150000,50.689999,73.139999,52.360001,130.979996,39.700001,162.399994,229.339996,...,38.279999,81.279999,53.000000,42.320000,57.759998,48.900002,48.580002,41.250000,32.070000,17.510000
2017-02-06,10.450000,22.389999,18.340000,50.720001,72.260002,52.799999,132.059998,39.529999,163.979996,228.929993,...,38.360001,81.519997,52.709999,42.139999,57.639999,48.799999,48.029999,41.060001,32.240002,17.250000
2017-02-07,10.680000,22.280001,18.270000,50.919998,72.800003,52.810001,131.839996,39.509998,166.500000,228.940002,...,38.830002,82.209999,53.139999,42.000000,57.189999,48.919998,48.040001,41.119999,32.290001,17.330000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-15,27.129999,117.529999,71.720001,167.139999,227.000000,168.850006,347.559998,128.520004,233.089996,467.429993,...,88.860001,141.279999,73.190002,53.240002,68.739998,67.529999,52.400002,24.799999,10.590000,2.100000
2021-11-16,26.320000,118.919998,73.160004,168.899994,230.330002,171.830002,342.959991,131.750000,225.800003,469.279999,...,88.739998,139.559998,72.730003,53.009998,67.739998,67.209999,52.060001,24.660000,10.610000,2.100000
2021-11-17,26.180000,116.720001,71.570000,168.389999,222.880005,171.740005,340.769989,130.240005,226.619995,468.140015,...,87.959999,138.139999,72.570000,52.860001,66.849998,67.269997,51.730000,24.660000,10.410000,2.030000
2021-11-18,26.639999,113.820000,69.120003,170.070007,222.339996,171.350006,338.690002,130.029999,227.250000,469.730011,...,87.320000,137.330002,72.309998,52.650002,67.110001,66.919998,51.240002,24.389999,10.410000,2.010000
2021-11-19,25.290001,113.239998,68.529999,171.309998,224.550003,174.880005,345.299988,129.149994,214.130005,468.890015,...,86.000000,132.389999,72.050003,52.389999,66.339996,67.300003,50.860001,24.129999,10.050000,1.950000

In [ ]:
#Calcualting daily percent changes 
daily_percent_change = price_df.pct_change()
daily_percent_change = daily_percent_change[1:]
daily_percent_change.head()

In [ ]:
#creating ticker positon file for SHEF
ticker_position = broker_file[['Symbol','Qty', 'Mkt value']]
ticker_position.head()

In [ ]:
#Calcualting correlations for each position of SHEF
correlations  = daily_percent_change.corr(method='pearson')
correlations.head()

In [ ]:
#Visualizing correlations via a heatmap

correlation_heatmap= correlations.hvplot.heatmap(
    title = 'Heatmap of South Hill Equity Fund Single Name Historical Correlations from 2017-2021',
    height=500, width =800, 
    colorbar=False, 
    rot = 60

)
correlation_heatmap

In [ ]:
#Calcualting Beta table for 3m, 6m and ytd betas for all single names in portfolio 

#Calculating market variance for each time period
variance_1m = daily_percent_change[:20]['SPY'].var()
variance_3m= daily_percent_change[:60]['SPY'].var()
variance_6m= daily_percent_change[:120]['SPY'].var()
variance_9m = daily_percent_change[:180]['SPY'].var()
variance_1y= daily_percent_change[:252]['SPY'].var()

#Creating empty beta tables for each time period
beta_table_1m =[]
beta_table_3m = []
beta_table_6m = []
beta_table_9m = []
beta_table_1y = []


#Looping through the daily percent changes for each name in SHEF to calculate the covariance for each name in the book 
for i in daily_percent_change:
    covariance_1m = daily_percent_change[:20][i].cov(daily_percent_change[:20]['SPY'])
    beta_1m = covariance_1m/variance_1m 
    covariance_3m = daily_percent_change[:60][i].cov(daily_percent_change[:60]['SPY'])
    beta_3m = covariance_3m/variance_3m 
    covariance_6m = daily_percent_change[:120][i].cov(daily_percent_change[:120]['SPY'])
    beta_6m = covariance_6m/variance_6m 
    covariance_9m = daily_percent_change[:180][i].cov(daily_percent_change[:180]['SPY'])
    beta_9m = covariance_9m/variance_9m 
    covariance_1y = daily_percent_change[:252][i].cov(daily_percent_change[:252]['SPY'])
    beta_1y = covariance_1y/variance_1y 
    beta_table_1m.append(beta_1m)
    beta_table_3m.append(beta_3m)
    beta_table_6m.append(beta_6m)
    beta_table_9m.append(beta_9m)
    beta_table_1y.append(beta_1y)
    

#Shoving all the betas into 1 df 
shf_betas = pd.DataFrame(
    {'Tickers': tickers,
     '1m_Betas': beta_table_1m,
    '3m_Betas': beta_table_3m,
     '6m_Betas': beta_table_6m,
     '9m_Betas': beta_table_9m,
     '1y_Betas': beta_table_1y,
    })
     
shf_betas

In [ ]:
#Cumulative Portfolio returns for SHEF

portfolio_daily_returns = daily_balance['balance'].pct_change()
#portfolio_daily_returns.rename(column ={'aum':'returns'})
cumulative_portfolio_returns =(1 + portfolio_daily_returns).cumprod() - 1
spx_returns = (1+daily_percent_change['SPY']).cumprod() - 1
#cumulative_portfolio_returns.rename(columns={'aum':'Returns'})
cumulative_returns_plot = cumulative_portfolio_returns.hvplot.line(width=600, height =300, title ='South Hill Equity Fund Returns from 2017 -2021', fontscale =1)
#cumulative_portfolio_returns.hvplot.line(cumulative_portfolio_returns)
cumulative_returns_plot

In [ ]:
#Plot of the AUM of SHEF YTD 
aum_plot =daily_balance.hvplot.line(width=600, height=300, fontscale = 1, title = 'Daily AUM for the SHEF from 2017-2021')
aum_plot

In [ ]:
#Plotting each single name return in the book 
cumulative_returns_sn = (1+daily_percent_change).cumprod()-1
cumulative_returns_sn = cumulative_returns_sn.hvplot.line(width=700, height=450, fontscale = 1,title='Cumulative Returns for each Single Name in the SHEF from 2017-2021')
cumulative_returns_sn

In [ ]:
#Plotting the daily percent change for each name in SHEF
daily_percent_change_sn_plot=daily_percent_change.hvplot.line(title='Daily percent change for single names in the SHEF from 2017-2021',width=700, height=450, fontscale = 1);
daily_percent_change_sn_plot

In [ ]:
#sharpe ratios of individual names 
average_annual_return = daily_percent_change.mean()*252
annualized_std_deviaton = daily_percent_change.std()*252**(1/2)
sharpe_ratios= average_annual_return/annualized_std_deviaton

sharpe_ratios_plot = sharpe_ratios.hvplot.bar(height=300, width=600,title = 'Single Name Sharpe Ratios in SHEF for 2017-2021', rot =70);

sharpe_ratios_plot

In [ ]:
#Box plot to see the distirbution for each name in SHEF
box_plot_portfolio_names= daily_percent_change.plot.box(figsize = (14,8), title = 'Box plot for each single name postion in the SHF Portfolio');

In [ ]:
#Plotting the distributions for each name in SHEF
sns.set(color_codes=True)
sns_paiplot1 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[0:6], diag_kind='hist');
sns_paiplot2 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[6:12], diag_kind='hist');
sns_paiplot3 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[12:18], diag_kind='hist');
sns_paiplot4 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[18:24], diag_kind='hist');
sns_paiplot4 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[24:], diag_kind='hist');

In [ ]:
#Portfolio historiocal variance and std deviation 
covariance_matrix = daily_percent_change.cov()*252 
port_weights = ticker_weights['Weight in the portfolio']
portfolio_volatility_historical =np.sqrt(np.dot(port_weights.T, np.dot(covariance_matrix, port_weights)))

portfolio_volatility_historical

In [ ]:
########## Historical VaR 95 ###############

daily_balance['percent_change']= daily_balance['balance'].pct_change()
portfolio_returns = daily_balance['percent_change'][1:]


historical_var_95 = np.percentile(portfolio_returns, 5)

returns_sorted = sorted(portfolio_returns, reverse=False)
#plt.hist(returns_sorted, density=True, stacked=True)
#plt.axvline(x=historical_var_95, color='r', linestyle ='-', label = 'Historical VaR(95) {0:.2f}%'.format(historical_var_95));

print('Historical VaR(95) is', round(100*historical_var_95,2),'%')

In [ ]:
########################## Parametric VaR 95 #################
mu = portfolio_returns.mean()*252
vol = np.std(portfolio_returns)
vol = np.sqrt(252)*vol
t= 1

confidence_level = .05
parametric_var_95 = norm.ppf(confidence_level, mu, vol)

returns_sorted = sorted(portfolio_returns)
#plt.hist(returns_sorted, density=False)
#plt.hist(returns_sorted, density=True, stacked=True)
#plt.axvline(x=parametric_var_95, color='r', linestyle ='-', label = 'Parametric Var95 {0:.2f}%'.format(parametric_var_95));

print('Parametric VaR(95) is', round(100*parametric_var_95,2),'%')

In [ ]:
################ Monte Carlo VaR 95 ###############

simulations = []
for i in range(100):
    random_returns = np.random.normal(mu,vol,t)
    simulations.append(random_returns)
monte_carlo_var_95 = np.percentile(simulations, 5)

#plt.hist(returns_sorted, density=True, stacked=True)
#plt.axvline(x=monte_carlo_var_95, color='r', linestyle ='-', label = 'Var 95 {0:.2f}%'.format(monte_carlo_var_95));

print('Monte Carlo VaR is', round(100*monte_carlo_var_95,2),'%')

In [ ]:
####### COnditional VaR #########
p = t.fit(daily_balances)

In [ ]:
######## Summary of SHEF #############

#print(f'Summary of South Hill Equity fund: AUM: ${aum.2f} Volatility: {portfolio_volatility_historical} Historical VaR: {var_historical.2f}, Parametric VaR: {var_parametric}, Monte Carlo VaR: {var_mc}')' )
display('---------------Positons of the SHEF--------------')
display(positions)

#Performance metrics
display('-----------Performance Metrics--------------')
display(cumulative_returns_plot)
display(aum_plot)
display(cumulative_returns_sn)

#Risk metrics 
display('----------------------------Risk Metrics---------------')
display('---------------Box Plot Distributions----------------')
display(box_plot_portfolio_names)
display(sharpe_ratios_plot)
display('---------------Correlaltions across the SHEF----------------')
display(correlations)
display(correlation_heatmap)

display('-----------------Betas for each name in SHEF-------------')
display(shf_betas)

display('---------------Value at Risk (VaR) ----------------')

display('VaR Calculatons')
display('Historical VaR(95) is', round(100*historical_var_95,2),'%')
display('Parametric VaR(95) is', round(100*parametric_var_95,2),'%')
display('Monte Carlo VaR is', round(100*monte_carlo_var_95,2),'%')

display('-----------Historical VaR (95) Distribution---------')
#plt.hist(returns_sorted, density=True, stacked=True)
#plt.axvline(x=historical_var_95, color='r', linestyle ='-', label = 'Var 95 {0:.2f}%'.format(historical_var_95));

display('Marginal Distributions and Scatterplot for each positon in SHEF')
display(sns_paiplot1 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[0:6], diag_kind='hist'))
display(sns_paiplot2 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[6:12], diag_kind='hist'))
display(sns_paiplot3 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[12:18], diag_kind='hist'))
display(sns_paiplot4 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[18:24], diag_kind='hist'))
display(sns_paiplot4 = sns.pairplot(data = daily_percent_change, vars = daily_percent_change.columns[24:], diag_kind='hist'))






#VaR and Shock analysis 
#monte carlo var 
#shock analysis